@import './element-variables.scss';
@import './variables.scss';
@import './mixin.scss';
@import 'nprogress/nprogress.css'; // progress bar style
html,body {
    background-color: var(--color-bg);
}
p,li,ul,ol,h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
#nprogress .bar {
    background: var(--el-color-primary) !important;
}
/*对齐，浮动*/
.tc{ text-align:center;}
.tr{ text-align: right;}
.tl{ text-align: left;}
.fl{ float:left;}
.fr{  float: right;}
.clearfix:before,.clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content: " ";clear:both;height:0;}
.clearfix{*zoom:1;}
/*文字超出隐藏*/
.ellipsis{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.line-clamp1,
.line-clamp2,
.line-clamp3,
.line-clamp4{overflow: hidden;text-overflow: ellipsis;word-break: break-all; display: -webkit-box;-webkit-box-orient: vertical;}
.line-clamp1{-webkit-line-clamp: 1;}
.line-clamp2{-webkit-line-clamp: 2;}
.line-clamp3{-webkit-line-clamp: 3;}
.line-clamp4{-webkit-line-clamp: 4;}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-center {
    align-items: center;
}
.flex-justify-center {
    justify-content: center;
}
.flex-justify-between {
    justify-content: space-between;
}
.flex-wrap-wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color .3s;
}
a:active,
a:hover {
    text-decoration: none;
    outline: 0;
}
a:active {
    color: #096dd9;
}
a:hover {
    color: #40a9ff;
}

.border-solid-transparent{
    border: solid 1px transparent;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.padding-t10 {
    padding-top: 10px;
}

.cursor-pointer {
    cursor: pointer;
}
.w1200 {
    width: 1200px;
    margin: auto;
}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}
.m0 {
    margin: 0;
}
.color-primary {
    color: var(--color-primary);
}